.turnedOff {
	opacity: 0.5;
}

.numberPicker {
	float: right;
}

.numberPicker input {
	font-size: 8pt;
	width: 70px;
}

.numberPicker > div {
	float: right;
	font-size: 8pt;
	color: #000000;
}

.timerNormal {
	font-size: 8pt;
}

.timerChoice {
	font-size: 12pt;
	font-weight: 700;
}

@media only screen and (max-device-width: 480px)
{
	.numberPicker input {
		width: 50px;
	}

}

.pagerArea
{
	clear: both;
	margin: 0 0 15px 0;
	font-weight: 700;
}

.pagerArea .choosePageArea
{
	margin: 0 10px 0 10px;
}

.pagerArea .pagerButtons {
	margin-top: 15px;
}

.pagerArea  A {
  font-family: tahoma;
  font-size: 10pt;
  color: #555555;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  background: rgba(255,255,255,0.3);
}

.pagerArea  A:visited {
  color: #555555;
  text-decoration: none;
}

.pagerArea  A:active {
  color: #555555;
  text-decoration: none;
}

.pagerArea  A:hover {
  color: #3399ff;
  text-decoration: none;
  border: 1px solid #3399ff;
  border-radius: 5px;
}

.oddRow  {
  background: rgba(0,0,0,0.1);
}
