<div style="margin: 0 auto 0 auto; text-align: center">
	<span ng-if="delayValue >= 60">{{mathFloor(delayValue/60) | number:0}}h&nbsp;{{delayValue%60 | number}}m&nbsp;</span>
	<span ng-if="!showDate && delayValue >= 0 && delayValue < 60 ">{{delayValue%60 | number}}m&nbsp;</span>
	<span ng-if="showDate && delayValue < 60 ">{{delayValue%60 | number}}m&nbsp;</span>
	
	<span ng-if="delayValue == 0">{{translate('default_delay')}}&nbsp;</span>
	
	<span ng-if="!showDate && delayValue < 0">--&nbsp;</span>
	<span ng-if="showDate && delayValue < 0">{{translate('no_delay')}}&nbsp;</span>
	
	<span ng-if="showDate">&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="" style="cursor: pointer" ng-click="onDelayedDisableClicked()">{{translate('disable_at')}}&nbsp;{{calculatedTime | date:'HH:mm'}}</a>
</div>