<div class="modal-header">
	<h5 class="modal-title">{{item.header}}</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<p class="modal-body-p">
		<i ng-show="dataLoading" class="fa fa-spinner fa-4x fa-spin"></i>
	
		<div class="form-group">
			<label for="itemName"><strong>{{automation.Translate('itemName')}}*:</strong>:</label>
			<input ng-disabled="id" ng-class="{'invalidInput':invalidName}" class="form-control" name="itemName" type="text" ng-model="item.name" />
			<small id="itemNameHelp" class="form-text text-muted">{{automation.Translate('itemNameHelp')}}</small>
			<p/>
		</div>
		<div class="form-group">
			<label for="itemCategory"><strong>{{automation.Translate('itemCategory')}}*</strong>:</label>
			<select class="form-control" name="itemCategory" ng-model="item.category" ng-options="category.id as (category.description) for category in categoriesDictionary">
			</select>
			<small id="itemCategoryHelp" class="form-text text-muted">{{automation.Translate('itemCategoryHelp')}}</small>
			<p/>
		</div>
		<div class="form-group">
			<label for="itemHeader"><strong>{{automation.Translate('itemHeader')}}*</strong>:</label>
			<input class="form-control" name="itemHeader" type="text" ng-model="item.header" />
			<small id="itemHeaderHelp" class="form-text text-muted">{{automation.Translate('itemHeaderHelp')}}</small>
			<p/>
		</div>
		<div class="form-check">
			<input class="form-check-input" name="itemEnabled" type="checkbox" ng-model="item.enabled" /><label class="form-check-label" for="itemEnabled">{{automation.Translate('itemEnabled')}}</label>
			<small id="itemEnabledHelp" class="form-text text-muted">{{automation.Translate('itemEnabledHelp')}}</small>
			<p/>
		</div>
		<div class="form-group">
			<label for="itemHotWord">{{automation.Translate('itemHotWord')}}:</label>
			<input class="form-control" name="itemHotWord" type="text" ng-model="item.hotword" />
			<small id="itemHotWordHelp" class="form-text text-muted">{{automation.Translate('itemHotWordHelp')}}</small>
			<p/>
		</div>
		<div class="form-group">
			<label for="itemImage">{{automation.Translate('itemImage')}}:</label>
			<input class="form-control" name="itemImage" type="text" ng-model="item.image" />
			<small id="itemImageHelp" class="form-text text-muted">{{automation.Translate('itemImageHelp')}}</small>
			<p/>
		</div>
		<div class="form-group">
			<label for="itemIcon">{{automation.Translate('itemIcon')}}:</label>
			<input class="form-control" name="itemIcon" type="text" ng-model="item.icon" />
			<small id="itemIconHelp" class="form-text text-muted">{{automation.Translate('itemIconHelp')}}</small>
			<p/>
		</div>
		<div class="form-check">
			<input class="form-check-input" name="itemRegularActions" type="checkbox" ng-model="item.regularActions" />
			<label class="form-check-label" for="itemRegularActions">{{automation.Translate('itemRegularActions')}}:</label>
			<small id="itemRegularActionsHelp" class="form-text text-muted">{{automation.Translate('itemRegularActionsHelp')}}</small>
			<p/>
		</div>
		<div class="form-group">
			<label for="itemSendOption">{{automation.Translate('itemSendOption')}}:</label>
			<select ng-disabled="item.itemIDs_Local.length > 0" class="form-control" name="itemSendOption" ng-model="item.sendOption" ng-options="sendOption.id as (sendOption.description) for sendOption in sendOptionDictionary" >
			</select>
			<small id="itemSendOptionHelp" class="form-text text-muted">{{automation.Translate('itemSendOptionHelp')}}</small>
			<p/>
		</div>
		<div ng-show="item.sendOption == 2" class="form-group">
			<label for="itemAddress">{{automation.Translate('itemAddress')}}:</label>
			<input class="form-control" name="itemAddress" type="text" ng-model="item.address" />
			<small id="itemAddressHelp" class="form-text text-muted">{{automation.Translate('itemAddressHelp')}}</small>
			<p/>
		</div>
		<div class="form-group">
			<label for="itemCodeOn">{{automation.Translate('itemCodeOn')}}:</label>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="codeOn in item.codeOn_Local">
					<div class="input-group">
						<input class="form-control" type="text" ng-model="codeOn.value">
						<span class="input-group-btn">
							<button type="button" style="float: left" class="btn btn-default" aria-label="Left Align" ng-click="remove(item.codeOn_Local, $index)">
								<i class="fa fa-trash"></i>
							</button>
						</span>
					</div>
				</li>
				<li class="list-group-item" ng-click="addNewCollectionItem('codeOn_Local', null)">{{automation.Translate('itemAddNew')}}</li>
			</ul>
			<small id="itemCodeOnHelp" class="form-text text-muted">{{automation.Translate('itemCodeOnHelp')}}</small>
			<p/>
		</div>
		<div class="form-group">
			<label for="itemCodeOff">{{automation.Translate('itemCodeOff')}}:</label>
			<input class="form-control" name="itemCodeOff" type="text" ng-model="item.codeOff" /><small id="itemCodeOffHelp" class="form-text text-muted">{{automation.Translate('itemCodeOffHelp')}}</small>
			<p/>
		</div>
		<div class="form-group">
			<label for="itemDelay">{{automation.Translate('itemDelay')}}(s):</label>
			<input class="form-control" name="itemDelay" type="number" ng-model="item.delay" min="-1" />
			<small id="itemDelayHelp" class="form-text text-muted">{{automation.Translate('itemDelayHelp')}}</small>
			<p/>
		</div>
		<div class="form-check">
			<input class="form-check-input" name="itemEnableOn" type="checkbox" ng-model="item.enableOn" /><label class="form-check-label" for="itemEnableOn">{{automation.Translate('itemEnableOn')}}:</label>
			<small id="itemEnableOnHelp" class="form-text text-muted">{{automation.Translate('itemEnableOnHelp')}}</small>
			<p/>
		</div>
		<div class="form-group">
			<label for="itemQuestionOn">{{automation.Translate('itemQuestionOn')}}:</label>
			<input class="form-control" name="itemQuestionOn" type="text" ng-model="item.questionOn" /><small id="itemQuestionOnHelp" class="form-text text-muted">{{automation.Translate('itemQuestionOnHelp')}}</small>
			<p/>
		</div>
		<div class="form-check">
			<input class="form-check-input" name="itemEnableOff" type="checkbox" ng-model="item.enableOff" /><label class="form-check-label" for="itemEnableOff">{{automation.Translate('itemEnableOff')}}:</label>
			<small id="itemEnableOffHelp" class="form-text text-muted">{{automation.Translate('itemEnableOffHelp')}}</small>
			<p/>
		</div>
		<div class="form-group">
			<label for="itemQuestionOff">{{automation.Translate('itemQuestionOff')}}:</label>
			<input class="form-control" name="itemQuestionOff" type="text" ng-model="item.questionOff" /><small id="itemQuestionOffHelp" class="form-text text-muted">{{automation.Translate('itemQuestionOffHelp')}}</small>
			<p/>
		</div>
		<div class="form-group">
			<label for="itemDeviceIDs">{{automation.Translate('itemDeviceIDs')}}:</label>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="subItem in item.itemIDs_Local">
					<div class="input-group">
						<select ng-class="{'invalidInput':subItem.value.length == 0}" class="form-control" name="itemDeviceIDs" ng-model="subItem.value" ng-options="device.id as (device.header) for device in devicesDictionary | excludeFrom:otherElements(subItem,item.itemIDs_Local)" >
						</select>
						<span class="input-group-btn">
							<button type="button" style="float: left" class="btn btn-default" aria-label="Left Align" ng-click="remove(item.itemIDs_Local, $index)">
								<i class="fa fa-trash"></i>
							</button>
						</span>
					</div>
				</li>
				<li class="list-group-item" ng-click="addNewCollectionItem('itemIDs_Local', null)">{{automation.Translate('itemAddNew')}}</li>
			</ul>
			<small id="itemDeviceIDsHelp" class="form-text text-muted">{{automation.Translate('itemDeviceIDsHelp')}}</small>
			<p/>
		</div>
		
		
		<div class="form-group">
			<label for="itemReorder">{{automation.Translate('itemReorder')}}:</label>
			<select class="form-control" name="itemReorder" ng-model="item.__reorder" ng-options="reorderOption.id as (reorderOption.description) for reorderOption in reorderDictionary" >
			</select>
			<small id="itemReorderHelp" class="form-text text-muted">{{automation.Translate('itemReorderHelp')}}</small>
			<p/>
		</div>
		
		
		<div class="form-group">
			<label for="itemCodeDev">{{automation.Translate('itemCodeDev')}}:</label>
			<input class="form-control" name="itemCodeDev" type="text" ng-model="item.codeDev" />
			<small id="itemCodeDevHelp" class="form-text text-muted">{{automation.Translate('itemCodeDevHelp')}}</small>
			<p/>
		</div>
	</p>
</div>
<div class="modal-footer">
	<button ng-if="id && !confirmDeleteItem" type="button" class="btn btn-danger mr-auto" ng-click="preDeleteItem()">{{automation.Translate('delete')}}</button>
	<button ng-if="id && confirmDeleteItem" type="button" class="btn btn-danger mr-auto" ng-click="deleteItem()">{{automation.Translate('delete_confirm')}}</button>
	<button ng-disabled="!isSaveEnabled()" type="button" class="btn btn-primary" ng-click="saveItem()">{{automation.Translate('save')}}</button>
	<button type="button" data-dismiss="modal" class="btn btn-default">{{automation.Translate('close')}}</button>
</div>
