<div class="logDetailsArea">
	<div>
		<a ng-click="orderByType = !orderByType;">Change Sort</a>
		&nbsp;|&nbsp;
		<a ng-if="!dataLoading" ng-click="checkLogDetails()">Refresh</a>
		&nbsp;|&nbsp;
		<input type="text" style="width: 100px" ng-model="query" placeholder="{{translate('search');}}">
		&nbsp;|&nbsp;
		{{(logContentLines | filter:query).length}}
	</div>
	<div>
		<div ng-class-odd="'oddRow'" ng-class-even="'evenRow'" ng-repeat='logItem in logContentLines | orderBy:"toString()":orderByType | filter:query track by $index'>
			<div>{{logItem}}</div>
		</div>
	</div>
</div>