<div class="powerswitch">
	
	<i ng-if="icon" class="{{icon}}"></i>
	<img ng-if="image" class="switchIcon" ng-class="{'switchIconClickable':delay}" ng-click="toggleSliderOptions()" ng-src="graphics/icons/{{image}}" />
	<span class="switchHeader" ng-class="{'switchHeaderClickable':delay}" ng-click="toggleSliderOptions()">{{header}}</span>
	<button ng-if="showTimer" ng-click="toggleSliderOptions()" type="button" class="btn btn-sm closeSubSectionButton" >
		<i class="fa fa-close"></i>
	</button>
	<img ng-if="boolValue(regularActions)" class="switchCalendarIcon" ng-click="toggleRegularOptions()" ng-src="graphics/{{calendarIconName}}" />
	<button ng-if="showRegular" ng-click="toggleRegularOptions()" type="button" class="btn btn-sm closeSubSectionButton" >
		<i class="fa fa-close"></i>
	</button>
	<span class="machineAvailability" ng-if="subType == 'M'" ng-click="checkAvailability()">
		<span ng-if="machineAvailability == null">{{translate('availability_not_checked')}}</span>
		<span ng-if="machineAvailability" style="color:green">{{translate('availability_available')}}</span>
		<span ng-if="machineAvailability == false" style="color:red">{{translate('availability_unavailable')}}</span>
	</span>
	<div class="numberPicker" ng-if="delay">
		<input ng-if="showTimer" type="number" ng-model="delayValue" ng-change="changeTimer(delayValue)" min="{{minSliderValue}}" max="{{maxSliderValue}}"  class="form-control" data-min="0" />
		<hours-and-minutes ng-click="toggleSliderOptions()" class="timerNormal" ng-if="!showTimer" delay-value="delayValue"></hours-and-minutes>
	</div>
</div>
<div ng-if="relatedItems" class="relatedItems">
	{{relatedItems}}
</div>
<div ng-class="{'sub-section': showRegular || showTimer}">

	<regular-settings ng-if="showRegular" outlet-id="{{outletId}}" regular-action-data="{{regularActionData}}" on-regular-settings-saved="saveRegularSettings(msg)" random-enabled="true" ></regular-settings>

	<hours-and-minutes class="timerChoice" ng-if="showTimer" show-date="true" delay-value="delayValue" calculated-time="calculatedTime" on-delayed-disable-clicked="clickButton({'outletId':outletId,'status':'offd','delay':delayValue*60})"></hours-and-minutes>
	<div ng-if="showTimer" class="input-group">
		<span class="input-group-btn">
			<button type="button" class="btn btn-default" aria-label="Left Align" ng-click="changeValue(-1)">
				<i class="fa fa-arrow-left"></i>
			</button>
		</span>
		<span class="input-group-btn">
			&nbsp;
		</span>
		<input type="range" min="{{minSliderValue}}" max="{{maxSliderValue}}" ng-model="delayValue" ng-change="changeTimer(delayValue)" class="form-control" style="float: left;" />
		<span class="input-group-btn">
			&nbsp;
		</span>
		<span class="input-group-btn">
			<button type="button" class="btn btn-default" aria-label="Left Align" ng-click="changeValue(1)">
				<i class="fa fa-arrow-right"></i>
			</button>
		</span>
		<p>&nbsp;</p>
	</div>
</div>
<div class="powerswitchbuttons btn-group d-flex"  aria-label="...">
  <div class="btn-group w-100" role="group" ng-if="boolValue(enableOn)">
	<button ng-disabled="busy" type="button" class="btn btn-default btn-lg btn-success w-100" ng-click="clickButton({'outletId':outletId,'status':'on','delay':delayValue*60})" ng-class="{'turnedOff':!isActive('pin2',1), 'btn-info': questionOn}">{{translate('enable');}}<span class="timerNormal" ng-if="showTimer">&nbsp;({{translate('disable_at')}}&nbsp;{{calculatedTime | date:'HH:mm'}})</span></button>
  </div>
  <div class="btn-group w-100" role="group"  ng-if="boolValue(enableOff)">
	<button  ng-disabled="busy" type="button" class="btn btn-default btn-lg w-100" ng-click="clickButton({'outletId':outletId,'status':'off'})" ng-class="{'turnedOff':!isActive('pin2',0), 'btn-danger': questionOff, 'btn-disable': !questionOff}"><span ng-if="!timeEnd">{{translate('disable');}}</span><span ng-if="timeEnd"><span class="timeOff"><span class="timeEnd">{{timeEnd | date:'HH:mm:ss'}}</span> (<span class="disableDate">{{disableDate | date:'HH:mm'}}</span>)</span></span></button>
  </div>
</div>
