
<h3>
	<img ng-click="toggleSliderOptions()" ng-src="graphics/icons/{{image}}" />
	<span ng-click="toggleSliderOptions()">{{header}}</span>
	<img ng-click="toggleRegularOptions()" ng-src="graphics/{{calendarIconName}}" />
	<div class="numberPicker">
		<input ng-if="showTimer" type="number" ng-model="delayValue" ng-change="changeTimer(delayValue)" min="0" max="360"  class="form-control" data-min="0" />
		<hours-and-minutes ng-click="toggleSliderOptions()" class="timerNormal" ng-if="!showTimer" delay-value="delayValue"></hours-and-minutes>
	</div>
</h3>

<regular-settings ng-if="showRegular" outlet-id="{{outletId}}" regular-action-data="{{regularActionData}}" on-regular-settings-saved="saveRegularSettings(msg)"></regular-settings>

<hours-and-minutes class="timerChoice" ng-if="showTimer" show-date="true" delay-value="delayValue"></hours-and-minutes>
<div ng-if="showTimer" class="input-group">
	<span class="input-group-btn">
		<button type="button" class="btn btn-default" aria-label="Left Align" ng-click="changeValue(-1)">
			<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
		</button>
	</span>
	<span class="input-group-btn">
		&nbsp;
	</span>
	<input type="range" min="0" max="360" ng-model="delayValue" ng-change="changeTimer(delayValue)" class="form-control"  style="float: left;"/>
	<span class="input-group-btn">
		&nbsp;
	</span>
	<span class="input-group-btn">
		<button type="button" class="btn btn-default" aria-label="Left Align" ng-click="changeValue(1)">
			<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
		</button>
	</span>
	<p>&nbsp;</p>
</div>
<div class="btn-group btn-group-justified"  aria-label="...">
  <div class="btn-group" role="group"  ng-if="enableOn">
	<button ng-disabled="busy" type="button" class="btn btn-default btn-lg btn-success" ng-click="clickButton({'outletId':outletId,'status':'on','delay':delayValue*60})" ng-class="{'turnedOff':!isActive('pin2',1)}">{{translate('enable');}}</button>
  </div>
  <div class="btn-group" role="group"  ng-if="enableOff">
	<button  ng-disabled="busy" type="button" class="btn btn-default btn-lg btn-warning" ng-click="clickButton({'outletId':outletId,'status':'off'})" ng-class="{'turnedOff':!isActive('pin2',0)}"><span ng-if="!timeEnd">{{translate('disable');}}</span><span ng-if="timeEnd"><span class="timeOff"><span class="timeEnd">{{timeEnd | date:'HH:mm:ss'}}</span> (<span class="disableDate">{{disableDate | date:'HH:mm'}}</span>)</span></span></button>
  </div>
</div>
