<h4>{{automation.Translate('alarm_settings')}}</h4>

<div ng-if="mode=='time'">
	<regular-settings ng-if="alarmData" outlet-id="{{alarmData.id}}" regular-action-data="{{regularActionData}}" on-regular-settings-saved="saveAlarmTimeUnits(msg)">
		<div ng-if="!folderSecured" class="alert alert-warning" role="alert">
			{{automation.GlobalHTACCESSWarning()}}
		</div>
	</regular-settings>
</div>
<div ng-if="mode=='devices'">
	<sensor-alarm-devices-settings ng-if="alarmData" outlet-id="{{alarmData.id}}"
	sensor-devices-data="{{devicesData}}" 	on-sensor-devices-settings-saved="saveAlarmDevices(msg)">
		<div ng-if="!folderSecured" class="alert alert-warning" role="alert">
			{{automation.GlobalHTACCESSWarning()}}
		</div>
	</sensor-alarm-devices-settings>
</div>