<h5>{{translate('alarm_devices_trigger')}}</h5>
<div ng-repeat="onDevice in onDevices" class="settingsSection" >
	<div style="display: inline-block; margin-right: 15px;">
		<button type="button" class="btn btn-default" style="color: red;" aria-label="Left Align" ng-click="removeDevice(onDevice)" >
			<i class="fa fa-times"></i>
		</button>
	</div>
	<div style="display: inline-block;vertical-align:top;">
		<label for="device">{{translate('device')}}:</label>
		<select class="form-control" name="device" ng-model="onDevice.id" ng-options="device.id as (device.header) for device in devicesDictionary">
		</select>
		<p/>
		<label for="delay">{{translate('delay')}}(s):</label>
		<input class="form-control" name="delay" type="number" ng-model="onDevice.delay" />
		<p/>
		<label for="rebound">{{translate('rebound')}}:</label>
		<input class="form-control" name="rebound" type="number" ng-model="onDevice.rebound" />
		<p/>
		<label for="dependencyMethod">{{translate('dependencyMethod')}}:</label>
		<select class="form-control" name="dependencyMethod" ng-model="onDevice.dependencyMethod" ng-options="dependencyMethod.value as (dependencyMethod.name) for dependencyMethod in dependencyMethods">
		</select>
		<p/>
		<label for="dependencyOperation">{{translate('dependencyOperation')}}:</label>
		<select class="form-control" name="dependencyOperation" ng-model="onDevice.dependencyOperation" ng-options="dependencyOperation.value as (dependencyOperation.name) for dependencyOperation in dependencyOperations">
		</select>
		<p/>
		<label for="dependencyValue">{{translate('dependencyValue')}}:</label>
		<input class="form-control" name="dependencyValue" type="number" ng-model="onDevice.dependencyValue" />
	</div>
</div>
<div style="margin: 10px auto 10px auto; text-align: center">
	<p style="margin-top: 10px">
		<button type="button" class="btn btn-default" style="margin-right: 15px;" aria-label="Left Align" ng-click="addNew()">
			<i class="fa fa-plus"></i>
		</button>
		<button type="button" ng-disabled="!isSaveEnabled()" class="btn btn-primary" ng-click="saveSensorDevicesSettings();" >{{translate('save');}}</button>
	</p>
</div>