
<div class="sensorswitch">
	<span class="switchHeader">{{header}}</span>
	<img class="switchCalendarIcon" ng-click="toggleRegularOptions()" ng-src="graphics/{{calendarIconName}}" />
	<button ng-if="showRegular" ng-click="toggleRegularOptions()" type="button" class="btn btn-sm closeSubSectionButton" >
		<i class="fa fa-close"></i>
	</button>
	<img class="switchCalendarIcon" ng-click="toggleDevicesOptions()" ng-src="graphics/{{actionIconName}}" />
	<button ng-if="showDevices" ng-click="toggleDevicesOptions()" type="button" class="btn btn-sm closeSubSectionButton" >
		<i class="fa fa-close"></i>
	</button>
	<img ng-if="pageFlag('canChangeAlarmSettings')" class="switchCalendarIcon" ng-click="toggleAlarmsTimeUnits()" ng-src="graphics/{{alarmTimeUnitsIconName}}" />
	<button ng-if="showAlarmTimeUnits" ng-click="toggleAlarmsTimeUnits()" type="button" class="btn btn-sm closeSubSectionButton" >
		<i class="fa fa-close"></i>
	</button>
	<img ng-if="pageFlag('canChangeAlarmSettings')" class="switchCalendarIcon" ng-click="toggleAlarmsDevices()" ng-src="graphics/{{alarmDevicesIconName}}" />
	<button ng-if="showAlarmDevices" ng-click="toggleAlarmsDevices()" type="button" class="btn btn-sm closeSubSectionButton" >
		<i class="fa fa-close"></i>
	</button>
</div>

<div ng-class="{'sub-section': showRegular || showDevices || showAlarmTimeUnits || showAlarmDevices}">
	<regular-settings ng-if="showRegular" outlet-id="{{outletId}}" regular-action-data="{{regularActionData}}" on-regular-settings-saved="saveRegularSettings(msg)"></regular-settings>

	<sensor-devices-settings ng-if="showDevices" outlet-id="{{outletId}}"
	sensor-devices-data="{{sensorDevicesData}}" on-sensor-devices-settings-saved="saveSensorDevicesSettings(msg)"></sensor-devices-settings>
	
	<sensor-alarm-settings mode="time" ng-if="showAlarmTimeUnits" outlet-id="{{outletId}}"  on-sensor-alarm-settings-saved="sensorAlarmSettingsSaved(msg)"></sensor-alarm-settings>
	
	<sensor-alarm-settings mode="devices" ng-if="showAlarmDevices" outlet-id="{{outletId}}"  on-sensor-alarm-settings-saved="sensorAlarmSettingsSaved(msg)"></sensor-alarm-settings>

</div>
<div style="text-align: center" ng-if="showRegular || showDevices || showAlarmTimeUnits || showAlarmDevices" confirmed-click="resetSensorData()" 
    ng-confirm-click="{{translate('careful');}}">{{translate('reset');}}</div>
