<div class="pageContent">
	
	<h4>{{pageTitle}}</h4>
	
	<div style="display: inline-block; padding: 10px 5px" ng-repeat="item in items track by $index">
		<a ng-class="{'font-weight-bold':todayFileName==item.name}" href="" ng-click="getFileContent(item.name)">{{item.name}}</a>
	</div>
	
	<i ng-show="dataLoading" class="fa fa-spinner fa-4x fa-spin"></i>

	<div ng-show="showNoResults()" class="noResults">There are no logs of this type.</div>

	<div>&nbsp;</div>
	
	<div ng-hide="showNoResults()">
		<pager page="logsList/{{logsType}}"></pager>
	</div>
	
</div>